@model IEnumerable<DBContext.Models.OrderDb>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Orders by name: @Html.TextBox("userID")
        @Html.TextBox("userIDLast")
        <input type="submit" value="Search" />

    </p>
}

@using (Html.BeginForm())
{
    <p>
        Orders by store: @Html.TextBox("StoreID")
        <input type="submit" value="Search" />

    </p>
}

<table class="table">
    <thead>
        <tr>


            <th>
                Opizza1
            </th>
            <th>
                Opizza2
            </th>
            <th>
                Opizza3
            </th>
            <th>
                Opizza4
            </th>
            <th>
                Opizza5
            </th>
            <th>
                Opizza6
            </th>
            <th>
                Opizza7
            </th>
            <th>
                Opizza8
            </th>
            <th>
                Opizza9
            </th>
            <th>
                Opizza10
            </th>
            <th>
                Opizza11
            </th>
            <th>
                Opizza12
            </th>
            <th>
                @Html.ActionLink("Sort By Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Sort by Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                LocID
            </th>
            <th>
                UserID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza11)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opizza12)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeofOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
